.block-center {
    width: 500px;
    background-color: var(--border-color);
    border-radius: 5px;
    overflow: hidden;
    margin: 80px auto;
    background-color: #FBF8F6;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}

.register-form {
    padding: 0 32px;
}

.text {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--primary-color);
    margin-top: 30px;
    user-select: none;
}

.block-center form {
    padding: 0 40px;
    box-sizing: border-box;
}

.register-form .txt-field {
    margin: 30px 0;
}

.txt-field input {
    width: 100%;
    height: 40px;
    margin-top: 16px 0;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

/* .txt-field label {
    position: absolute;
    top: 45%;
    left: 5px;
    color: black;
    transform: translateY(-50%);
    font-size: 20px;
    pointer-events: none;
    transition: .5s;
} */

/* .txt-field span {
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: blueviolet;

} */
/* 
.txt-field input:focus~label,
.txt-field input:valid~label {
    top: -5px;
    color: #2691d9;
}

.txt-field input:focus~span::before,
.txt-field input:valid~span::before {
    width: 100%;
} */

.message-text {
    text-align: center;
    font-size: 1.4rem;
    color: var(--text-color);
    background-color: #FFF3CD;
    margin-bottom: 32px;
    line-height: 3;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin-bottom: 16px;
    
}

input[type="submit"]:hover {
    border-color: #2691d9;
    transition: .5s;
}
