.body {
    width: 191px;
    display: flex;
}

.taskbar {
    position: relative;
    background-color: var(--star-gold-color);
    float: left;
    width: 250px;
    padding: 15px;
    height: 100%;
    margin-top: 51px;
}

.welcome {
    font-size: 18px;
    padding-top: 0px;
    font-family: sans-serif;
}

.user {
    color: var(--primary-color) !important;
}

.welcome button {
    width: 70%;
    height: 30px;
    border: none;
    background: #2691d9;
    border-radius: 25px;
    font-size: 1.6rem;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    font-family: sans-serif;
    margin-top: 10px;
    text-align: center;
    position: relative;
    /* left: 28px; */
}

.welcome button:hover {
    background-color: #3c96d2;
}

.user {
    color: floralwhite;
    text-decoration: underline;
    cursor: pointer;


}

.diagnostic {
    display: flex;
    text-align: center;
    margin: 35px;
    font-size: 10px;
    cursor: pointer;
    flex-direction: column;
    float: left;
}

.diagnostic h1 {
    text-align: left;
    font-family: sans-serif;
    font-size: 18px;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    background: darkkhaki;
    font-size: 18px;
    color: black;
    cursor: pointer;
    outline: none;
    border: none;
    text-align: left;
}

input[type="submit"]:hover {
    color: white;
    transition: .1s;
    font-size: 20px;
}

.income h1 {
    color: blueviolet;
}

/* :host /deep/ p {
    font-style: italic;
} */

.button {
    background-color: var(--star-gold-color);
    font-size: 2rem;
    text-align: left;
    text-decoration: none;
    color: black;
    width: 120px;
    padding-left: 0px;
    padding-bottom: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    right: 0;
    transition: right linear .1s;
}

.button:hover {
    color: var(--white-color);
    right: -3px;
    cursor: pointer;
}

.button-icon {
    font-size: 1.8rem;
    margin-right: 8px;
}