<div class="block-center">
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
        <div class="text">
            <p>ĐĂNG NHẬP</p>
        </div>
        <div class="txt-field__handler">
            <div class="txt-field">
                <input type="text" formControlName="username" placeholder="Tên đăng nhập" required>
                <span></span>
            </div>
           
            <div class="txt-field">
                <input type="password" formControlName="password" placeholder="Mật khẩu" required>
                <span></span>
            </div>
            <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
            <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>
            <input type="submit" value="Đăng Nhập">
        </div>
        <div class="signup-link">
            Bạn chưa có tài khoản? <a [routerLink]="['/register']">Đăng ký</a>
        </div>
    </form>
</div>