.block-center {
    width: 500px;
    background-color: var(--border-color);
    border-radius: 5px;
    overflow: hidden;
    margin: 80px auto;
    background-color: #fbf8f6;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}

.login-form {
    padding: 0 32px;
}

.text {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--primary-color);
    margin-top: 30px;
    user-select: none;
}

.txt-field__handler {
    padding: 0 32px;
}

.login-form .txt-field {
    margin: 15px 0;
}

.txt-field input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

input[type="submit"] { 
    width: 100%;
    height: 50px;
    margin-top: 16px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    border: var(--border-color);
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover {
    background-color: #4499d2;
}

.signup-link {
    margin: 30px 0;
    text-align: center;
    font-size: 20px;
    color:#000;
    user-select: none;
}

.signup-link a {
    color: var(--primary-color);
    text-decoration: none;
}

.signup-link a:hover {
   color: #e97a64;
}

.alert {
    text-align: center;
    font-size: 1.4rem;
    color: var(--text-color);
}