<div class="block-center">
    <form class="register-form" [formGroup]="registerForm" (ngSubmit)=register()>
        <div class="text">
            <p>ĐĂNG KÝ</p>
        </div>
        <div class="txt-field">
            <input type="text" formControlName="fullname" placeholder="Họ và tên" required>
            <span></span>
        </div>
        <div class="txt-field">
            <input type="text" formControlName="phonenumber" placeholder="Số điện thoại" required>
            <span></span>
        </div>
        <div class="txt-field">
            <select formControlName="permission" placeholder="Quyền">
                <option value="" selected disabled>Quyền</option>
                <option value=1>Bệnh nhân</option>
                <option value=2>Chuyên gia</option>
                <option value=3>Kỹ sư</option>
                <option value=4>Quản trị viên</option>
                
            </select>
            <span></span>
        </div>
        <div class="txt-field">
            <input type="text" formControlName="username" placeholder="Tên đăng nhập" required>
            <span></span>
        </div>
        <div class="txt-field">
            <input type="password" formControlName="password" placeholder="Mật khẩu" required>
            <span></span>
        </div>
        <div class="message-text">{{message}}</div>
        <input type="submit" value="Đăng ký">
        <input [routerLink]="['/login']" type="submit" value="Trở về">
    </form>
</div>